html {
  font-family: "Chivo", sans-serif;
  color: #220A00;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background-color: #FFF3E0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 0;
  left: 0;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.wrapper {
  padding-top: 120px;
}

.content {
  opacity: 0;
}

.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.decrease-padding {
  margin-top: -1em;
}

.absolute {
  position: absolute;
}

/*Colors*/
.black {
  color: #220A00;
}

.lightTan {
  color: #FFF3E0;
}

.darkTan {
  color: #CFBEA5;
}

.darkBrown {
  color: #641F01;
}

.lightBrown {
  color: #B97A5F;
}

.offWhite {
  color: #FFFDFA;
}

/*End colors*/
/*typography*/
h1 {
  font-size: 54px;
  line-height: 66px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: left;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.07em;
}

h4 {
  font-size: 22px;
  line-height: 34px;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  text-align: left;
}

p a {
  color: #641F01;
}

.center-text {
  text-align: center !important;
}

.left-text {
  text-align: left !important;
}

.right-text {
  text-align: right !important;
}

strong {
  font-weight: 700;
}

/*End typography*/
/*Repeating nav bar*/
.nav {
  position: fixed;
  width: 100vw;
  height: 90px;
  z-index: 200;
  background-color: #FFF3E0;
}

.nav-link {
  color: #641F01;
  margin-top: 30px;
}

.nav-link a {
  color: #641F01;
  text-decoration: none;
}

.nav-link a:hover {
  color: #641F01;
  text-decoration: underline;
}

.current {
  font-weight: 700 !important;
}

.logo-lg {
  width: 230px;
  margin-left: calc(50% - 115px);
  margin-top: 15px;
}

.logo-sm {
  width: 100px;
  margin-left: calc(50% - 50px);
  margin-top: 25px;
}

img.nav-logo {
  height: auto;
}

#small-logo {
  display: none;
}

/*End nav bar styles*/
/*Repeating footer*/
.footer {
  border-top: 2px solid #641F01;
  padding-top: 30px;
  margin-top: 30px;
  height: 115px;
  bottom: 0;
  padding-bottom: 25px;
}

.footer-text {
  padding-top: 10px;
}

/*End footer styles*/
.hero-img {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

img.hero-img {
  height: auto;
}

.headline {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Gallery styling*/
.padding-grid {
  margin-top: 4%;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: auto;
}

.thumbnail-img {
  position: relative;
  width: 100%;
  color: #641F01;
  height: auto;
}

img.thumbnail-img {
  height: auto;
}

.thumbnail-text {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin-top: calc(33% - 40px);
}

.thumbnail-parent {
  position: absolute;
  width: 100%;
  height: calc(100% - 5px);
  z-index: 99;
  background-color: rgba(100, 31, 1, 0.6);
  opacity: 0;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

/*End gallery styling*/
/*Light box styling*/
.large {
  width: 100%;
}

img.large {
  height: auto;
}

.project-description {
  border-top: 1px solid #CFBEA5;
  padding-top: 1.5em;
  margin-top: 1.5em;
  min-height: 40vh;
}

.close-button {
  position: absolute;
  right: 0;
}

.arrows {
  position: absolute;
  width: 100%;
  padding-top: calc(23% - 35px);
}

.left-arrow {
  float: left;
  opacity: 0.7;
}

.right-arrow {
  float: right;
  opacity: 0.7;
}

.slides {
  transition: 700ms;
}

#img1, #img2, #img3 {
  position: absolute;
  width: 65.3333333333%;
  height: auto;
}

/*End light box styling*/

/*# sourceMappingURL=style.css.map */
