@import 'colors';

.black{
	color: $black;
}

.lightTan {
	color: $lightTan
}

.darkBrown {
	color: $darkBrown
}

.lightBrown {
	color: $lightBrown;
}

.offWhite {
	color: $offWhite;
}

html {
	font-family: 'Chivo', sans-serif;
	color: $black;
	font-weight: 400;
}

body {
	background-color: $lightTan;
}


/*typography*/

h1 {
	font-size: 54px;
	line-height: 66px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 28px;
	line-height: 36px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	text-align: left;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: .07em;
}


h4 {
	font-size: 22px;
	line-height: 34px;
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	text-align: left;
}

p {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	text-align: left;
}

.nav {
	z-index: 100;
}

.nav-link {
	color: $darkBrown;
}

.nav-link a {
	color: $darkBrown;
	text-decoration: none;
}

.nav-link a:hover {
	color: $darkBrown;
	text-decoration: underline;
}

.logo-large{
	width: 75%;
	margin-top: 5px;
}

img.logo-large {
	height: auto;
}

.logo-small{
	width: 25%;
	margin-top: 5px;
}

img.logo-small {
	height: auto;
}

.hero-img {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

img.hero-img {
	height: auto;
}

.headline {
	padding-top: 15px;
	padding-bottom: 15px;
}



.footer {
	border-top: 3px solid $darkBrown;
	padding-top: 30px;
	margin-top: 30px;
	height: 115px;
	bottom: 0;
	padding-bottom: 25px;
}

.footer-text {
		padding-top: 10px;
}






